.character__container {
  .character__data {
    .character__item {
      .character__item__img {
        img {
          width: 300px;
          height: auto;
        }
      }

      .infos {
        .character__date {
          h3 {
            color: #e8cc5e;
          }
        }
        .character__desc {
          font-size: 18px;
        }
      }

      .more {
        display: flex;
        a {
          color: #e8cc5e;
          text-decoration: none;

          &:hover {
            color: #c75757;
          }
        }
      }
    }
  }
}
