@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap');

body, .v-application {
  font-family: 'marvel', sans-serif !important;
}

a {
  text-decoration: none;
  color: #fff;
}

.character__data img {
  width: 100%;
  height: auto;
  padding-left: 15px;
}
